.comments{
	border-bottom:1px solid #ccc;
	p{	
		font-size:15px;
		margin:8px 0;
		font-weight:bold;
		span{
			color:skyblue;
			font-size:12px;
			font-weight:normal;
		}
	}
	.date{
		font-weight:normal;
		font-size:13px;
	}
}
.page{
	margin-top:10px;
}