/*=========================reset==================*/
body,h1,h2,h3,h4,h5,h6,p,a,img,ul,li,dl,dt,dd,ol,input{ padding:0; margin:0;}
img{ display:block; border:0;}
input{ outline:none;}
ul,ol{ list-style:none;}

body{ font-size:14px; font-family:"微软雅黑"; color:#333; background:#eee;}

a{ text-decoration:none; color:#333;}
a:hover{ text-decoration:underline; color:#53cac3;}

/*=========================public==================*/
.w{ width:940px; margin:0 auto;}
.l{ float:left;}
.r{ float:right;}