* {
  padding: 0;
  margin: 0;
}
ul,li{
  list-style: none;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.active {
  color: #f00 !important;
}
.active0{
  color:#ff0 !important;
}
.a0{
  color:#0088cc;
}
.a0:hover{
  text-decoration: underline;
  cursor: pointer;
}
