.login_container {
	width: 900px;
	height: 560px;
	margin: 100px auto;
	border-radius: 4px;
	-webkit-box-shadow: 0 8px 8px 0 rgba(51, 51, 51, 0.05), 0 0 8px 0 rgba(51, 51, 51, 0.15);
    box-shadow: 0 8px 8px 0 rgba(51, 51, 51, 0.05), 0 0 8px 0 rgba(51, 51, 51, 0.15);
    display: flex;
	.login_alert{
    	position:absolute;
    	left: 75%;
    	top: 30%;
    	z-index: 1;
    	transform: translateX(-50%);
    }
    .login_bg {
    	width: 450px;
		height: 100%;
		text-align: center;
		background: #f6f6f6;
		img {
			width: 60%;
			margin-top: 100px;
			display: inline-block;
		}
		.login_title {
			font-size: 24px;
			line-height: 1.5;
			color: #333;
		}
		.login_subtitle {
			font-size: 18px;
			line-height: 1.5;
			color: #666;
		}
    }
    .login_wrap {
		width: 450px;
		height: 100%;
		background: #fff;
		text-align: center;
		padding: 0 70px;
		h3 {
			padding-top: 125px;
		    color: #333;
		    font-size: 28px;		
		}
		.login_box {
			margin: 25px auto;
		    height: 46px;
		    color: #999;
		    position: relative;
		    .login_input {
		    	width: 100%;
				height: 100%;
			    padding-left: 40px;
			    border: 1px solid #cacaca;
			    border-radius: 4px;
			    -webkit-transition: all 0.2s;
			    -o-transition: all 0.2s;
			    transition: all 0.2s;
		    }
		    .login_input:focus {
		    	border: 1px solid #209e85;
		    }
		    .login_icon {
		    	position: absolute;
			    top: 3px;
			    left: 0.5em;
			    font-size: 24px;
			    line-height: 46px;
		    }
		    .login_button {
		    	width: 100%;
		    	padding: 5px 20px;
    			display: inline-block;
			    font-size: 14px;
			    border-radius: 2px;
			    border: 1px solid transparent;
			    outline: 0;
			    cursor: pointer;
			    color: #fff;
			    background: #209e85;
		    }
		    .login_button:hover {
				opacity: .9;
		    }
		}
    }
}